<html>
    <head>
        <style type="text/css">
            #gm_cls {
                color: blue;
            }
        </style>
    </head>

    <h2>{{ queryset.source }}: {{ queryset.target }}</h2>
    <hr>

    {% for grammaticalclass in queryset.grammaticalclass_set.all %}

        <h3 id="gm_cls">{{ grammaticalclass.name }}</h3>

        <ul>
            {% for word in grammaticalclass.word_set.all %}
                <li><a href="#{{ word.name }}">{{ word.name }}</a></li>
            {% endfor %}
        </ul>


        {% for word in grammaticalclass.word_set.all %}
            <div id="{{ word.name }}">
                <strong>{{ word.name }}: </strong>

                <i>
                    {% for reverseword in word.reverseword_set.all %}
                        {{ reverseword.name }};
                    {% endfor %}
                </i>
            </div>
        {% endfor %}
    {% endfor %}
</html>